
/* Khai báo cho Roboto Regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/Roboto/Roboto.ttf') format('truetype');
}

@font-face{
  font-family: 'Google_Sans_Code';
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url('/assets/fonts/Google_Sans_Code/GoogleSansCode.ttf') format('trueType');
}

@font-face{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/Nunito_Sans/NunitoSans.ttf') format('truetype');
}

@font-face{
  font-family: 'Corben';
  font-style: normal;
  font-weight: 400 1000;
  font-display: swap;
  src: url('/assets/fonts/Corben-Regular.ttf') format('truetype');
}

@theme{
  --font-sans: "Google_Sans_Code";
  --font-roboto: "Roboto";
}
@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
